<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="Credevlabz_Testimonials::testimonials" title="Testimonials" sortOrder="10" >
                        <resource id="Credevlabz_Testimonials::testimonial" title="Testimonials" sortOrder="40">
                            <resource id="Credevlabz_Testimonials::save" title="Save Testimonial" sortOrder="10" />
                            <resource id="Credevlabz_Testimonials::testimonials_delete" title="Delete Testimonial" sortOrder="20" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>